/*   dashbord   */
.cover {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.cover img {
    width: 100%;
    height: 100%;
}

.full {
    position: absolute;
    bottom: 25%;
    left: 30%;
}

.full h1,
.absolut h1 {
    color: #fff;
    font-weight: 500;
    font-size: 62px;
}


/*   timesheet   */

.box {
    margin: 10px;
    padding: 10px;
    height: 70vh;
    width: 99%;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    overflow: auto;
}

.box form p {
    font-weight: 500;
    margin-bottom: 5px;
}

.dyss {
    padding: 10px;
    margin-left: 10px;
}

.space {
    height: 32px;
}


/*   Home   */
.screen {
    height: 100vh;
}

.screen img {
    width: 100%;
    height: 100%;
}

.absolut h1 {
    position: absolute;
    top: 50%;
    left: 30%;
}

/*     login page  rgba(0, 0, 0, 0.35)   */
.login {
    height: 100vh;
}

.login form {
    border: 1px solid rgba(50, 50, 93, 0.25);
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.lpage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}





@media (max-width: 720px) {
    .full h1 {
        font-weight: 500;
        font-size: 32px;
    }

    .full {
        left: 50%;
    }

    .box {
        height: 67vh;
    }
}